@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 100% ;
  min-height: 100% ;
}




header {
  height: 90px;
  background-color: rgba(255, 255, 255, 0.808);
  display: flex;
 font-family: 'Josefin Sans', sans-serif;
 text-align: center;
}

#logocontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
  }
  
#buttoncontainer {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-right: 30px;
}

#dashboard {
  padding: 14px 28px;
  border-radius: 5px;
   background-color: rgb(255, 255, 255);
  color: rgb(27, 146, 243);
  cursor: pointer;
 font-family: 'Josefin Sans', sans-serif;
font-size: 16px;
}

#dashboard:hover{
 padding: 14px 28px;
 background-color: rgb(27, 146, 243);
 color:rgb(255, 255, 255);
 cursor: pointer;
 border-radius: 5px;
 font-family: 'Josefin Sans', sans-serif;
 font-size: 16px;
}



  main {
    display: flex;
    flex: 1;
    position: relative;
  }
  
  
  

#iframe{
flex:1;
background-color: rgb(255, 255, 255);

}
#files{
padding-top: 10px;
width: 30%;
height:91% ;
text-align: center;
font-family: 'Josefin Sans', sans-serif;
font-size: 28 px; 
overflow: scroll;
}
p{
  font-family: 'Josefin Sans', sans-serif;
}
h1 {
  font-family: 'Josefin Sans', sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}